.jumbotron{

    background-image: url(../img/Fondo.jpg) !important;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}